{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Freights{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'fretes/styles.css' %}" type="text/css" rel="stylesheet">
    </head>
    <body>
        <h1>Freights</h1>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">All freights</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'addFreight' %}">Add new freight</a>
            </li>
        </ul>
        <hr>
        {% block body %}
        {% endblock %}
    </body>
</html>
