body {
    padding: 5px;
}

.freights {
    padding-left: 20px;
}

.formButtons {
    display: flex;
    justify-content: space-between;
}

.footer-buttons {
    display: flex;
    justify-content: space-between;
}