body {
    padding: 5px;
}

.freights {
    padding-left: 20px;
}

.formButtons {
    display: flex;
    justify-content: space-between;
}

.footer-buttons {
    display: flex;
    justify-content: space-between;
}

.nav {
    margin: 5px;
}

.btn {
    margin-right: 5px;
}

.container {
    padding: 5px;
}

#freights {
    padding: 10px;
    padding-left: 30px;
}

li {
    padding: 5px;
}

.btn-link {
    padding-left: 4px;
    text-decoration: none;
}

.btn-link:hover {
    text-decoration: none;
}